<%= render partial: 'shared/errors', locals: { object: @phone } %>

<%= form_with(model: @phone) do |form| %>
  <label>Enter your Phone Number:</label>
  <%= form.text_field :number %><br/>
  <%= form.submit "Send Verification Code" %>
<% end %>
