<% if object.errors.any? %>
  <div style="color: red" data-test-id="errors">
    <h2>
      There was <%= pluralize(object.errors.count, "issue") %> with your <%= object.class.to_s.downcase.humanize %>:
    </h2>

    <ul>
      <% object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
