<p style="color: green"><%= notice %></p>

<h2>Existing Phone Numbers</h2>

<div id="phone_numbers">
  <table>
    <tr><th>Number</th><th>Type</th><th>Validated</th></tr>
    <% @phone_numbers.each do |phone_number| %>
      <%= render phone_number %>
    <% end %>
  </table>
</div>

<%= link_to "+", new_phone_number_path, class: 'link_button' %>
