<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">Verify Your Phone!</h1>
    <div class="form-floating mt-3">
      <input type="text" class="form-control" id="phone-number" placeholder="555-555-5555">
      <label for="phone-number">Enter your Phone Number</label>
    </div>
    <div class="form-floating mt-3">
      <input type="text" class="form-control" id="verification-code" placeholder="xxxxxx" disabled>
      <label for="verification-code">Enter the Verification Code you just received:</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Send Verification Code</button>
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit" disabled>Verify Code</button>
  </form>
  <p class="mt-5 mb-3 text-muted">© 2017–2023</p>
</main>
