<h1>Verify Your Phone!</h1>
<%= form_with(url: verification_request_path, method: "post") do |form| %>
  <label>Enter your Phone Number:</label>
  <%= form.text_field :number %><br/>
  <%= form.submit "Send Verification Code" %>
<% end %>